.container {
    max-width: 60rem !important;
    margin-top: 4rem !important;
}

#instructions {
    display: none;
}

.loading {
    border: 1px solid #9b4dca;
}

#progress-percentage {
    vertical-align: top;
}

#dashboard {
}

.GroupIndicator {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#ad-logo {
    width: 100px;
}

.PlayerScore,
.GroupScore {
    display: inline-block;
    width: 40px;
    padding-left: 10px;
}

canvas {
    display: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
}

#chat {
    width: 100%;
}

#chatlog {
    margin-top: 10px;
    overflow-y: auto;
    border: 1px solid #cccccc;
    min-height: 100px;
    height: calc(100vh - 475px);
    color: #333333;
}

#chatlog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#chatlog li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 0px;
    margin-bottom: 0px;
}

#chatlog li:nth-child(odd) {
    background: #eee;
}

#chat form {
    display: none;
}

.name {
    font-weight: bold;
}

#message {
    width: 300px;
    background-color: #eeeeee;
    margin-top: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 3px;
}

#submit-message {
    background: none;
    border: none;
    margin: 0;
    padding-left: 5px;
    color: #1693a5;
    font-weight: bold;
}

#game-over {
    display: none;
}

#opt-out {
    position: fixed;
    bottom: 0;
    right: 0;
}

.DIFI {
    border: solid 1px #ccc;
    width: 100%;
    margin: 10px auto;
    padding-top: 40%;
    position: relative;
}

.DIFI-controls {
    left: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
}

.DIFI-controls button {
    margin-right: 5px;
    padding: 0 1.5rem;
}

.DIFI-range {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 55%;
    padding-top: 20%;
    transform: translateY(-50%);
}

.DIFI-me {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #000;
    border-radius: 50%;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    padding-top: 25%;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    user-select: none;
}

.DIFI-me.dragging {
    cursor: move;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.DIFI-me label {
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.DIFI-group {
    background-color: #ccc;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    left: 80%;
    padding-top: 30%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.DIFI-group label {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    white-space: nowrap;
}

#donate button {
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.5rem;
    height: auto;
}

#donate label {
    display: inline;
    vertical-align: middle;
    padding-right: 0.5rem;
}

#donate button#public-donate:active,
#donate button#public-donate:focus {
    color: #9b4dca;
    background-color: #ffffff;
}

#donate button:focus,
#donate button:hover,
#donate button#public-donate:hover {
    color: #ffffff;
    background-color: #9b4dca;
}

img.donate {
    margin-bottom: -5px;
}

form .likert {
    list-style: none;
    width: 100%;
    margin: 0;
    display: block;
    border-bottom: 2px solid #efefef;
}

form .likert:last-of-type {
    border-bottom: 0;
}

form .likert:before {
    content: "";
    position: relative;
    top: 11px;
    left: 5.5%;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 78%;
}

form .likert li {
    display: inline-block;
    width: 12%;
    text-align: center;
    vertical-align: top;
}

form .likert li input[type="radio"] {
    display: block;
    position: relative;
    color: #000;
    top: 0;
    left: 50%;
    margin-left: -6px;
}

form .likert li label {
    width: 100%;
    font-weight: normal;
    font-size: calc(9px + 0.5vw);
    transform: scale(0.85, 1);
    -webkit-transform: scale(0.85, 1);
    display: inline-block;
}

img.team {
    height: 35px;
    width: 35px;
    margin: 0px 2px -2px 2px;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.grid-loading {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 170px;
    width: 421px;
    padding: 0 20px;
    text-align: center;
}

.grid-loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.grid-loading span:nth-child(2) {
    animation-delay: 0.2s;
}

.grid-loading span:nth-child(3) {
    animation-delay: 0.4s;
}
