dallinger>=4.0.0
alabaster==0.7.11
bumpversion==0.5.3
cached-property==1.5.1
coverage==4.5.1
coverage-pth==0.0.2
codecov==2.0.15
decorator==4.3.0
faker==0.7.10
flake8==3.5.0
google-compute-engine==2.7.6
mock==2.0.0
networkx==1.11
numpy==1.15.4
pycodestyle==2.3.1  # pyup: ignore
pypandoc==1.4
pytest==3.8.0
recommonmark==0.4.0
sphinx-js==2.7
sphinx==1.7.9
sphinxcontrib-spelling==4.2.0
tox==3.1.2
