{% extends "layout.html" %}

{% block scripts %}
<script src="/static/scripts/dist/difi.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<h1>Before We Begin.</h1>
<hr>
<p>Thanks for contributing to our research. Please answer the following question before the experiment begins:</p>
<form action="/waiting">
    <div class="row question">
        <div class="column">
            <br />
            The diagram below is designed to represent your relationship with
            <strong>{{ experiment.config.pre_difi_group_label or "Group"}}</strong>.
            Please indicate your relationship by clicking and dragging the smaller
            "Me" circle to the position that best captures your relationship with
            <strong>{{ experiment.config.pre_difi_group_label or "Group"}}</strong>.
            <input class="DIFI-input" id="DIFI" name="DIFI" data-group-label="{{ experiment.config.pre_difi_group_label or "Group" }}" data-group-image="{{ experiment.config.pre_difi_group_image or "/static/images/group.jpg" }}" />
        </div>
    </div>
<hr>
<input type="submit" value="Begin Experiment" />
</form>
{% endblock %}
