{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
    // Parameters
    settings = {};
    settings.item_config = {{ experiment.item_config_json | safe}};
    settings.transition_config = {{ experiment.transition_config_json | safe}};
    settings.block_size = {{ experiment.config.block_size or 10 }};
    settings.padding = {{ experiment.config.padding or 1 }};
    settings.dollars_per_point = {{ experiment.config.dollars_per_point or 0.02}};
    settings.rows = {{ experiment.config.rows }};
    settings.columns = {{ experiment.config.columns }};
    settings.window_columns = {{ experiment.config.window_columns or min(settings.columns, 25)}};
    settings.window_rows = {{ experiment.config.window_rows or min(settings.rows, 25)}};
    settings.mutable_colors = {% if experiment.config.mutable_colors %}true{% else %}false{% endif %};
    settings.player_overlap = {% if experiment.config.player_overlap %}true{% else %}false{% endif %};
    settings.background_animation = {% if experiment.config.background_animation != False %}true{% else %}false{% endif %};
    settings.time_per_round = {{ experiment.config.time_per_round }};
    settings.num_rounds = {{ experiment.config.num_rounds }};
    settings.player_colors = {{ experiment.serialize(experiment.limited_player_colors) }};
    settings.player_color_names = {{ experiment.serialize(experiment.limited_player_color_names)|safe }};
    settings.tax = {{ experiment.config.tax or 0.00 }};
    settings.walls = "{{ experiment.config.wall_type }}";
    settings.show_grid = {% if experiment.config.show_grid != False %}true{% else %}false{% endif %};
    settings.visibility = {{ experiment.config.visibility or 40 }};
    settings.chat_visibility_threshold = {{ experiment.config.chat_visibility_threshold or 0.4}};
    settings.spatial_chat = {% if experiment.config.spatial_chat %}true{% else %}false{% endif %};
    settings.visibility_ramp_time = {{ experiment.config.visibility_ramp_time or 4}};
    settings.others_visible = {% if (experiment.config.others_visible != False) %}true{% else %}false{% endif %};
    settings.identity_signaling = {% if experiment.config.identity_signaling %}true{% else %}false{% endif %};
    settings.identity_starts_visible = {% if experiment.config.identity_starts_visible %}true{% else %}false{% endif %};
    settings.motion_speed_limit = {{ experiment.config.motion_speed_limit or 8}};
    // Visibility will be configured per-item type
    settings.show_chatroom = {% if experiment.config.show_chatroom %}true{% else %}false{% endif %};
    settings.pseudonyms = {% if experiment.config.pseudonyms != False %}true{% else %}false{% endif %};
    settings.walls_visible = {% if experiment.config.walls_visible != False %}true{% else %}false{% endif %};
    settings.build_walls = {% if experiment.config.build_walls %}true{% else %}false{% endif %};
    settings.wall_building_cost = {{ experiment.config.wall_building_cost or 0 }};
    settings.donation_amount = {{ experiment.config.donation_amount or 0 }};
    settings.donation_individual = {% if experiment.config.donation_individual %}true{% else %}false{% endif %};
    settings.donation_group = {% if experiment.config.donation_group %}true{% else %}false{% endif %};
    settings.donation_ingroup = {% if experiment.config.donation_ingroup %}true{% else %}false{% endif %};
    settings.donation_public = {% if experiment.config.donation_public %}true{% else %}false{% endif %};
    settings.donation_enabled = (settings.donation_group || settings.donation_ingroup || settings.donation_individual || settings.donation_public) && settings.donation_amount;
    settings.donation_type = null;
    settings.score_visible = {% if experiment.config.score_visible %}true{% else %}false{% endif %};
    settings.alternate_consumption_donation = {% if experiment.config.alternate_consumption_donation %}true{% else %}false{% endif %};
    settings.use_identicons = {% if experiment.config.use_identicons %}true{% else %}false{% endif %};
    settings.leaderboard_group = {% if experiment.config.leaderboard_group %}true{% else %}false{% endif %};
    settings.leaderboard_individual = {% if experiment.config.leaderboard_individual %}true{% else %}false{% endif %};
    settings.leaderboard_time = {{ experiment.config.leaderboard_time or 0 }} || 10;
    settings.motion_tremble_rate = {{ experiment.config.motion_tremble_rate or 0 }} || 0.0;
    settings.sprites_url = "{{ url_for('static', filename='images') }}";
    settings.donation_active = settings.donation_enabled && !settings.alternate_consumption_donation; // Default to off if based on round number
</script>
{% endblock %}

{% block container %}
<div id="game-over">
    <h2>Game over.</h2>
</div>

<div id="dashboard">
    <p>
        <span id="score">0</span> points ($<span id="dollars">0.00</span>),
        <span id="time">?</span> seconds remaining
        {% if experiment.config.num_rounds > 1 %}in round <span id="round">?</span>{% endif %}
    </p>
</div>
<p class="grid-loading">Loading Game World <span>.</span><span>.</span><span>.</span></p>

<div id="grid" data-identicon-salt="{{ app_id }}">
    <!-- Grid will be inserted here. -->
</div>

<div id="inventory">
    Currently Carrying: <span id="inventory-item"></span>
</div>
<div id="location-contents">
    At this Location: <span id="location-contents-item"></span>
</div>
<div id="item-transitions">
    Available Transitions: <span id="transition-details"></span>
</div>
{% if experiment.config.donation_amount %}
<div id="donate" class="for-players">
    <label>Give {{ experiment.config.donation_amount }} point{{experiment.config.donation_amount > 1 and 's' or ''}} to:</label>
    {% if experiment.config.donation_individual %}
        <button id="individual-donate" class="button-outline">Player</button>
    {% endif %}
    {% if experiment.config.donation_ingroup %}
        <button id="ingroup-donate" class="button-outline">My Group</button>
    {% endif %}
    {% if experiment.config.donation_group and not experiment.config.donation_ingroup %}
        <button id="group-donate" class="button-outline">Group</button>
    {% endif %}
    {% if experiment.config.donation_public %}
        <button id="public-donate" class="button-outline">Everyone</button>
    {% endif %}
</div>
{% endif %}

<div id="chat">
    <div id="chatlog">
        <ul id="messages">
            {% if experiment.config.alternate_consumption_donation %}
                <li>
                    <span class="name">Moderator: </span> Starting a consumption round. Players have to consume as much as possible.
                </li>
            {% endif %}
        </ul>
    </div>
    <form action="" class="for-players">
        <input id="message" autocomplete="off" class="for-players" placeholder="Message the group." />
        <button id="submit-message" class="button button-clear for-players">Send to
            {% if experiment.config.spatial_chat %}
                visible players
            {% else %}
                everyone
            {% endif %}
        </button>
    </form>
</div>

<div id="instructions" class="for-players">
    <h1>Instructions</h1>
    <p>You are one of the squares. Move using the arrow keys.</p>
    <p>You can pick up portable items with the spacebar and drop the item you are carrying using the d key.</p>
    <p>Some items have actions that can be performed on them using the spacebar.
        The action will depend on what item you are currently carrying.</p>
    {% if experiment.config.mutable_colors %}
        <p>Press 'b' or 'y' to switch to blue or yellow.</p>
    {% endif %}
    {% if experiment.config.identity_signaling %}
        <p>Your group is initially {% if experiment.config.identity_starts_visible %}visible{% else %}invisible{% endif %} to other players. Press 'v' to toggle your group visibility.</p>
    {% endif %}
</div>

{% endblock %}

{% block opt_out %}
<div class="for-players">
    <button class="button button-clear button-small" id="opt-out">Opt out</button>
</div>
{% endblock %}


{% block scripts %}
<script src="static/scripts/dist/bundle.js"></script>
{% endblock %}
