{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
    // Parameters
    settings = {};
    settings.time_per_round = {{ experiment.grid.time_per_round }};
    settings.num_rounds = {{ experiment.grid.num_rounds }};
    settings.player_colors = {{ experiment.serialize(experiment.grid.limited_player_colors) }};
    settings.player_color_names = {{ experiment.serialize(experiment.grid.limited_player_color_names)|safe }};
    settings.show_grid = {% if experiment.grid.show_grid %}true{% else %}false{% endif %};
    settings.others_visible = {% if experiment.grid.others_visible %}true{% else %}false{% endif %};
    settings.show_chatroom = {% if experiment.grid.show_chatroom %}true{% else %}false{% endif %};
    settings.pseudonyms = {% if experiment.grid.pseudonyms %}true{% else %}false{% endif %};
    settings.score_visible = {% if experiment.grid.score_visible %}true{% else %}false{% endif %};
    settings.use_identicons = {% if experiment.grid.use_identicons %}true{% else %}false{% endif %};
    settings.leaderboard_group = {% if experiment.grid.leaderboard_group %}true{% else %}false{% endif %};
    settings.leaderboard_individual = {% if experiment.grid.leaderboard_individual %}true{% else %}false{% endif %};
    settings.leaderboard_time = {{ experiment.grid.leaderboard_time }} || 10;
</script>
{% endblock %}

{% block container %}

<div id="chat">
    <div id="chatlog">
        <ul id="messages">
        </ul>
    </div>
    <form action="" class="for-players">
        <input id="message" autocomplete="off" class="for-players" placeholder="Message the group." />
        <button id="submit-message" class="button button-clear for-players">Send to everyone</button>
    </form>
</div>

<div id="instructions" class="for-players">
    <h1>Instructions</h1>
    <p>You are one of the squares. Move using the arrow keys.</p>
    {% if experiment.grid.mutable_colors %}
        <p>Press 'b' or 'y' to switch to blue or yellow.</p>
    {% endif %}
    {% if experiment.grid.identity_signaling %}
        <p>Your group is initially {% if experiment.grid.identity_starts_visible %}visible{% else %}invisible{% endif %} to other players. Press 'v' to toggle your group visibility.</p>
    {% endif %}
</div>

{% endblock %}

{% block opt_out %}
<div class="for-players">
    <button class="button button-clear button-small" id="opt-out">Opt out</button>
</div>
{% endblock %}


{% block scripts %}
<script src="static/scripts/dist/bundle.js"></script>
{% endblock %}
