{% extends "layout.html" %}

{% block container %}
<div class="main_div">
    <p>Waiting for the other players to join&hellip;</p>

    <img src="/static/images/loading.gif" alt="Loading..." class="loading" />
    <span id="progress-percentage"><b>0%</b></span>
</div>
{% endblock %}

{% if experiment.config.pre_difi_question %}
<form>
    <input type="hidden" name="DIFI_overlap" id="DIFI_overlap" value="{{request.args.get('DIFI_overlap')}}" />
    <input type="hidden" name="DIFI_distance" id="DIFI_distance" value="{{request.args.get('DIFI_distance')}}" />
</form>
{% endif %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        // wait for participant to be created and quorum to be reached
        dallinger.createParticipant().done(function () {
            if (dallinger.skip_experiment) {
                $('.main_div').html('<p>The experiment has exceeded the maximum number of participants, your participation is not required. Click the button below to complete the HIT. You will be compensated as if you had completed the task.</p><button type="button" class="button btn-success">Complete</button>')
                $('.main_div button').on('click', dallinger.submitAssignment);
            } else {
                dallinger.goToPage("grid");
            }
        });
    });
</script>
{% endblock %}
