<p>
  The objective of the game is to maximize your final payoff.
  The game is played on a 200 x 100 grid, where each
  player occupies one block.<br>
  <img src="./static/images/gameplay.png" height="250"><br>
  The grid is viewed through a 20 x 20 window
  that moves along with your player. The game has 3 rounds, each lasting
  <strong>45.0 seconds</strong>.
</p>
<p>
  Players move around the grid using the arrow keys.<br>
  <img src="./static/images/keys.gif" height="60"><br>
  A player cannot occupy a block where a player is
  already present. Players cannot see the whole grid, but only an area
  approximately 40 blocks around their current position.
</p>
<p>
  Press the 'h' key to toggle highlighting of your player.<br>
  <img src="./static/images/h-toggle.png" height="250">
</p>
<p>
  Players gain points by picking up and eating edible items:
  <ul>
    <li>🥕 Wild Carrot (5 points)</li>
    <li>🫐 Gooseberry (3 points)</li>
  </ul>
  Once a food item is being carried, pressing the spacebar causes
  it to be eaten, which awards the points to the player.
</p>
<p>
  The edible items do not exist on the board at the start of play.
  Players must produce them by picking up other objects and carrying out
  "transitions" to transform them, or by reaching a specific object and
  triggering the transition.
</p>
  It is possible for the players to transform some items into food
  in various ways:
  <ul>
    <li>Pick up a 💎 Sharp Stone and press the spacebar while
        occupying the same square as a 🥕 Wild Carrot Plant.</li>
    <li>Occupy same square as a 🌴 Gooseberry Bush and press spacebar to
        eat a 🫐 Gooseberry. Gooseberry bushes have only 6 berries each.
        Once all berries are eaten, the bush is empty and players can't
        occupy the bush's square anymore.</li>
    <li>If there are no 💎 Sharp Stones on the grid, players can create
        one by picking up a <img src="./static/images/stone.png" width="16">
	Stone, going to a 🗿 Big Hard Rock, and pressing the spacebar.</li>
  </ul>
</p>
<p>
  A chatroom is available to send messages to the other
  players. Player names shown on the chat window are pseudonyms.<br>
  <img src="./static/images/chatroom.gif" height="150">
</p>
<p>
  You will receive <strong>$0.02</strong> for each point
  that you score at the end of the game.
</p>
